.block {
	background-color: lightcoral;
	padding: 5px 20px;
}

.fruit {
	background-color: rgb(206, 74, 74);
	margin: 15px 0;
	padding-left: 14px;
	height: 25px;
	display: flex;
	align-items: center;
	color: white;
}

.fruit span {
	background-color: rgb(157, 29, 29);
	height: 100%;
	width: 7%;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}