.block {
    width: 30%;
}

.list {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: rgb(196, 255, 255);
    padding-left: 25px;
    border: 1px solid black;
    border-collapse: collapse;
}

.list::after {
    content: '\2716	';
    margin-left: 15px;
    text-decoration: none !important;
    color: red;
}

.done {
    background-color: rgb(213, 213, 213);
}

span {
    text-decoration: line-through;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    margin-right: 20px !important;
  }

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  }
  
  .form-control + .form-control {
    margin-top: 1em;
  }

  input[type="checkbox"] {
    /* ...existing styles */
  
    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }

  input[type="checkbox"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  input[type="checkbox"]::before {
    /* ...existing styles */
  
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
